.card {
  width: 180px;
  border-radius: 8px;
  background-color: #181818;
  overflow: hidden;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.chip {
  position: absolute !important;
  left: 8px;
  bottom: 8px;
  color:white;
  background: #000000 !important;
  font-size: 12px !important;
  height: 24px !important;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 8px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
